extends ../post-layout

block content
  h3#post-date January 5, 2018
  h1#post-heading.size-limit-heading An Introduction
  article#post-content.size-limit-content
    p.
      #[em Blink. Blink. Blink]. A light blue #[span.info-text(title="A caret is the blinking thing in a text box.") caret] sits in the vastness of my text editor window. 
      #[br]
      It's #[em 12:34 AM]. I've just finished writing the back-end for the blog #[strong you are reading right now]. 
      #[br]
      I guess I must now write my thoughts in English, instead of JavaScript, in the form of these posts.
      #[br]
      #[br]
      Let's begin.
      #[br]
      #[br]
      This #[strong blog], in every sense of the word, was started as a means for me to communicate my #[em ever so seldom] musings. Musing, one of my favorite words. It means a product of one's contemplation and thought. I suppose that is what this blog will embody, products of my contemplation. That being my main intent for this blog does not mean it will be its sole use. From time-to-time, I hope to use it as a platform to discuss events from the past, things I've learnt (or want to learn), new projects I wish to build, #[em anything] really. As for the timing of these posts, I do not fancy a disciplinary "release schedule" where there's a new blog article every week or something. That introduces unoriginality, tastelessness, and artificiality in the posts. That's the beauty of entropy, randomness; all the different possibilities of whenever I may write more.
      #[br]
      #[br]
      If you've read this far, you must be wondering who the #[em I] refers to in this post. Or, you may already know. Either way, I think it's only fair that I introduce myself in this "introduction".
      #[br]
      In case you couldn't already tell from the many signs, the domain of this website being the most obvious, my name is #[em Abdullah Khan]. If you expect me to summarize myself in a few words, I simply cannot. I believe that you, the reader, can see through this writing (and the more to come), condense all the information and, build a mental profile of who I am.
      #[br]
      #[br]
      Forgive me for the brevity of this post. As time progresses, along with many more posts, I hope to learn to craft better, more interesting pieces of literature and blog about them. This has been rather interesting, documenting my thoughts. I anticipate doing this more often; and I wish you found this as intriguing as I thought you would.
      #[br]
      #[br]
      #[br]
      #[br]
      #[small I should really head to sleep now...]
