doctype html



html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title= title
    meta(name="author" content=author)
    meta(name="description" content=description)
    // normalize.css for a consistent cross-browser CSS reset
    link(rel="stylesheet" href="/css/normalize.min.css")
    // website favicon
    link(rel="icon" href="/img/favicon.png?v=2")
    // main CSS file
    link(rel="stylesheet" href="/css/styles.min.css?v=1")
    block head

  body
    noscript
      <h2 class="headline size-limit-heading glitch" id="main-heading" data-text="Hello, stranger.">Hello, stranger.</h2><h2 class="size-limit-heading glitch" id="about-me" data-text="QDelivery">We are QDelivery.</h2><div id="intro"><p class="size-limit-text" id="about-text">We deliver goods to LOCATIONS. <br/>We are a COURIER service.<br class="line-break"/>We use blockchain technology and zero-knowledge encryption methods<br class="line-break"/>to keep you 100% safe and anonymous<br/><br/>We operate in secrecy, there will be no human-to-human interaction required.<br class="line-break"/> Need more information?<br/><br/><em>Let's talk.</em> Go to our secure chat: <span style="-webkit-user-select:all;-moz-user-select:all;-ms-user-select:all;user-select: all;text-decoration:underline;">here</span></p></div>
    block content
        

    #bottom-background
    block scripts
